// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field_with_errors input {
	border: 1px solid red
}
#map {
	height: 400px;
	width: 500px;
	background-color: #CCC;
}
.restaurant {
	display: inline-block;

	width: 33%;
}
#navbar {
	border-bottom: 1px solid #EEE;
	height: 50px;
}
#email {
	font-size: 23px;
	color: #BBB;
}
.edit_delete {
	height: 20px;
}
